body,
main {
  background-color: #f5f5f5;
  height: 100vh;
  width: 100%;
}
/*HEADER*/
.image-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.overlay-text-header {
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 21px;
  color: white;
}

/*FOUNDATIONS*/
.foundation-cards {
  flex: 1 1 0;
  gap: 0.5rem;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
  padding: 2rem;
  width: 100%;
  margin: 0 15px 24px 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.059);
  transition: all 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.element-1:hover {
  background-color: #0692e31e;
}

.element-2:hover {
  background-color: #8ed2fc19;
}

.element-3:hover {
  background-color: #00d08412;
}

.element-4:hover {
  background-color: #fcb9000c;
}

.element-5:hover {
  background-color: #f78da82b;
}

/*EXPLORE THE VISION SECTION*/
.explore-the-vision {
  margin-top: 45px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.background-overlay {
  position: absolute;
  width: 100%;
  height: 691px;
  background-color: #323232;
  opacity: 0.5;
  transition: all 0.3s, border-radius 0.3s, opacity 0.3s;
}

.overlay-items-explore {
  color: white;
  position: absolute;
  align-items: center;
  padding: 10rem;
  gap: 20px;
}

.overlay-items > h1 {
  font-size: 32px;
}

/*JOIN OUR COMMUNITY SECTION*/
.join-community-cards {
  justify-content: flex-start;
  overflow: hidden;
  width: 100%;
  padding: 48px 48px 15px 48px;
  margin: 0 16px 8px 16px;
  flex: 1 1 0;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.059);
  transition: transform 0.3s;
}

.join-community-cards > h2 {
  font-size: 20px;
}

.join-community-cards:hover {
  transform: scale(1.03);
}

.join-community-cards button {
  width: 140px;
}

.join-community-cards div {
  font-size: 14px;
  font-weight: bold;
  color: gray;
  padding: 0.5rem;
}

.bdd-app {
  margin-left: 485px;
  color: grey;
  font-weight: bolder;
  padding: 2rem;
}

.bdd-app-img {
  margin-top: 20px;
  gap: 80px;
  cursor: pointer;
}

/*BDD HUB*/
.bdd-hub {
  overflow: hidden;
  position: relative;
}

.overlay-items-hub {
  position: absolute;
  padding: 2rem;
}

.hub-items {
  justify-content: space-evenly;
  margin-top: 2.2rem;
  font-size: 14px;
  font-weight: bold;
}

.image-container-hub {
  height: 40vh;
}

/*WHAT'S TRENDING*/
.trending-cards-container {
  justify-content: center;
  gap: 30px;
}

.trending-card {
  justify-content: center;
  background-color: white;
}

.trending-card h5 {
  padding: 0.5rem;
  width: 100%;
}

.trending-card p {
  color: gray;
  font-weight: bold;
  font-size: 12px;
  padding: 0.5rem;
}

.visit-blog-bttn-container {
  justify-content: center;
  margin: 3rem;
}
.visit-blog-bttn {
  width: 150px;
}

/*WORDS FROM COMMUNITY*/
.words-from-community {
  background-color: white;
  padding: 5rem 12.5rem 5rem 12.5rem;
}

.words-community-imgs {
  overflow: hidden;
  width: 100%;
  justify-content: space-between;
}

.words-community-imgs > img {
  width: 250px;
}
